<h3>בחר קהילה רצויה:</h3>
<div class="form-field" dir:rtl>
<mat-form-field>
    <!-- <mat-label >קהילה:</mat-label>       -->
    <mat-select [formControl]="CommunityControl" >
      <mat-option *ngFor="let community of CommunityService.Communities" [value]="community.CommunityId" >
        {{community.CommunityName}}
        {{community.RavName}}
        {{community.Street}}
        {{community.HouseNumber}}
      </mat-option>
    </mat-select>     
    </mat-form-field> 
    <br>   
    <button (click)="choose(CommunityControl.value)" >בחירה</button>
    <button (click)="school(CommunityControl.value)">ישיבה</button> 
  </div>