<p>add-study-hour works!</p>
<div class="form-field" dir:rtl>
    <mat-form-field appearance="fill">
         <mat-label >כותרת:</mat-label>
         <input matInput #Tittle >
       </mat-form-field>  
         <br>
       <mat-form-field appearance="fill">
         <mat-label >תאריך התחלה:</mat-label>
         <input matInput #DateStart type="date">
       </mat-form-field> 
       <br>
       <mat-form-field appearance="fill">
         <mat-label >תאריך סיום:</mat-label>
         <input matInput #DateEnd type="date">
       </mat-form-field> 
       <br>
       <mat-form-field appearance="fill">
         <mat-label >שעת התחלה:</mat-label>
         <input matInput #TimeStart type="time">
       </mat-form-field> 
       <br>
       <mat-form-field appearance="fill">
         <mat-label >שעת סיום:</mat-label>
         <input matInput #TimeEnd type="time">
       </mat-form-field> 
       <br>
       <button mat-stroked-button color="blue" (click)="studyHourService.postStudyHour(Tittle.value,DateStart.value,DateEnd.value,TimeStart.value,TimeEnd.value)">שמירה</button>
       <button mat-stroked-button color="blue" (click)="onClick()">יציאה</button>      
    </div>
 
 
